.exchangeItem {
    width: 50%;

    padding: 40px 80px;

    &__head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;

        h3 {
            font-size: 16px;
            font-weight: 400;
        }
        p {
            font-size: 12px;
            color: lightgrey;
        }
    }

    &__converter {
        display: flex;
        margin-bottom: 18px;
    }

    &__footer {
        margin-top: 32px;

        color: #0D1128;
        font-weight: 600;
        font-size: 16px;
        span {
            font-weight: 400;
        }
    }

    @media screen and (max-width: 1240px) {
        width: 100%;
    }
    @media screen and (max-width: 767px) {
        padding: 40px 20px;

        &__converter {
            flex-direction: column;
            gap: 40px;
        }
    }
}

.exchangeItem.grey {
    background-color: #FAFAFA;
}