.converter-input {
    width: 100%;

    margin-right: 20px;

    border: 0;
    border-bottom: 2px solid #dedede;
    outline: none;
    background: transparent;

    font-size: 42px;
    font-weight: bold;
    color: #0D1128;
}